#container {
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
    background-color: rgb(0, 9, 24);
    color: white;
    font-family: 'Uchen', serif;
}
h1 {
    padding-top: 1%; 
    opacity: 0;
    color: white;
    font-size: 40px;
    animation-name: fade-in-header;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes fade-in-header {
    to {opacity: 1;}
}

/* Buttons */
#player-choice-buttons {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 40%;
    margin-top: -90px;
}
button {
    background-color: rgb(255, 215, 142);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Uchen', serif;
}
button:hover {
    transform: scale(1.03);
}
.choice-buttons {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    font-size: 20px;
}

#rock {
    background-color: rgb(75, 76, 80);
    color: white;
    border: rgb(75, 76, 80);
    opacity: 0;
    animation-name: fade-in-rock;
    animation-duration: 5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    transition: scale 0.5s;
}
#rock:hover {
    transform: scale(1.03);
}
@keyframes fade-in-rock {
    to {opacity: 1};
}

#paper {
    background-color: rgb(255, 247, 236);
    color: black;
    border: rgb(255, 247, 236);
    transition: scale 0.5s;
    opacity: 0;
    animation-name: fade-in-paper;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}
#paper:hover {
    transform: scale(1.03);
}
@keyframes fade-in-paper {
    to {opacity: 1};
}

#scissors {
    background-color: rgb(177, 177, 177);
    color: black;
    border: rgb(177, 177, 177);
    transition: scale 0.5s;
    opacity: 0;
    animation-name: fade-in-scissors;
    animation-duration: 5s;
    animation-delay: 5.7s;
    animation-fill-mode: forwards;
}
#scissors:hover {
    transform: scale(1.03);
}
@keyframes fade-in-scissors {
    to {opacity: 1};
}

.game-results {
    position: relative;
    line-height: 40px;
    top: 45%;
}
#choices {
    position: relative;
}
#results {
    position: relative;
}
#points {
    position: absolute;
    text-align: left;
    margin-top: 0;
    margin-left: 10px;
    padding: 10px 10px 0 10px;
    top: 0;
    left: 0;
    height: 50px;
    width: 170px;
    line-height: 21px;
    color: black;
}