#container {
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
}
h1 {
    padding-top: 5%; 
    opacity: 0;
    animation-name: fade-in-header;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes fade-in-header {
    to {opacity: 1;}
}

/* Buttons */
#player-choice-buttons {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 40%;
    margin-top: -90px;
    opacity: 0;
    animation-name: fade-in-choice-buttons;
    animation-duration: 5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
@keyframes fade-in-choice-buttons {
    to {opacity: 1};
}
button {
    background-color: rgb(255, 249, 241);
    border: 1px solid rgb(255, 228, 196);
}
button:active {
    transform: scale(1.1);
}
.choice-buttons {
    height: 180px;
    width: 180px;
    border-radius: 20%;
}

.game-results {
    position: relative;
    line-height: 30px;
    top: 50%;
}
#choices {
    position: relative;
}
#results {
    position: relative;
}
#points {
    position: absolute;
    text-align: left;
    margin-top: 0;
    margin-left: 10px;
    padding: 10px 10px 0 10px;
    top: 0;
    left: 0;
    height: 50px;
    width: 170px;
}